				.newPatientTitle {
					width: 95%;
					margin: 0 auto;
					height: 50px;
					line-height: 50px;
					text-align: center;
					font-size: 16px;
					font-weight: 800;
					color: #333840;
					position: relative;
					border-bottom: 1px solid #e9edf0;
				}
				
				.newPatientBtn {
					display: inline-block;
					height: 30px;
					position: absolute;
					padding: 0 15px;
					left:6px;
					top: 10px;
					line-height: 30px;
					background: #e9edf0;
					border-radius: 5px;
					font-weight: 200;
					color: #5bbed3;
					cursor: pointer;
				}
				.info_text {
					resize: none;
					width: 96%;
					box-sizing: border-box;
					height: 160px;
					margin: 0 2%;
					border: none;
					background: #e9edf0;
					border-radius: 5px;
				}

					.boxLeft {
							flex: 0 0 76px;
							height: 86px;
							text-align: center;
						}

						.addBtn,
						.addBtn2 {
							width: 80px;
							height: 30px;
							line-height: 30px;
							border-radius: 4px;
							background: #fff;
							color: #5bbfd3;
							text-align: center;
							float: right;
							margin: 17px auto;
							margin-right: 17px;
							border-bottom: 1px solid #eee;
							border: none;
							cursor: pointer;
						}
						
						.addBtn2 {
							background: #5bbfd3;
							color: #fff;
							cursor: pointer;
						}
					.hospitalList {
						display: flex;
						width: 100%;
						flex-wrap: wrap;
						text-align: center;
					}
					
					.chooseHospital {
						background: #e9edf0;
						border-radius: 5px;
						height: 30px;
						line-height: 30px;
						width: 90%;
						color: #020202;
					}
					
					.hospitalItem {
						flex: 0 0 50%;
						height: 35px;
						line-height: 35px;
					}
					
					.sureAdd ,.sureChange{
						clear: both;
						width: 80px;
						display: inline-block;
						height: 30px;
						line-height: 30px;
						border-radius: 4px;
						background: #5bbfd3;
						color: #fff;
						text-align: center;
						border-bottom: 1px solid #CCCCCC;
					}
					.sureChange{
						position: absolute;
						left: 24px;
						top: 15px;
						background: #FFF;
						color: red;
						border: none;
					}
					.sureAdd{
						position: absolute;
						right:24px;
						top: 15px;
					}