.patientConTitle {
	height: 40px;
	line-height: 50px;
	font-size: 18px;
	font-family: "SourceHanSansCN Regular";
	margin: 10px 20px;
	box-sizing: border-box;
	position: relative;
}
.patientConTitle span:nth-child(1){
	font-size:16px;
	font-family: "微软雅黑";
}
/*分页*/
#staffPage{
	height: 87px;
    line-height: 87px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
#staffPage select{
	    margin-top: 26px;
}
.contentBox {
	box-sizing: border-box;
	margin: 10px 10px 10px 0;
	background-color: white;
}
.pmTbaleBtn1 {
	color: #5bbfd3!important;
}

.pmTbaleBtnLeft {
	position: absolute;
	right: 10px;
	top: 13px;
	color: #fff!important;
	background: #5bbfd3!important;
}

.pmTbaleBtn,
.pmTbaleBtn1,
.pmTbaleBtnLeft {
	height: 25px;
	width: 45px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #f7b85b;
	display: inline-block;
	border-radius: -moz-calc(5px);
	border-radius: -webkit-calc(5px);
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
	margin-left: 6px;
	border: 1px solid #eee;
}

.pmTable {
	width: 97%;
	margin: 10px auto;
	box-sizing: border-box;
}

.pmTable tr {
	height:50px;
	border-top: 1px solid #ccc;
	font-size: 13px;
	color: #333840;
	font-family: "SourceHanSansCN Regular";
}

.pmTable th {
	color: #333840;
	font-family: "SourceHanSansCN Regular";
	height: 60px;
	line-height: 60px;
	text-align: left;
	font-size: 16px;
	font-family: "SourceHanSansCN Regular";
}

.pmTable th:nth-child(1) {
	width: 300px;
}

.pmTable_img {
	background: url(../img/icon1.png) no-repeat center center;
	background-size: cover;
	height: 18px;
	width: 18px;
	float: left;
	margin: 3px 0 0 0;
}

.pmTable_con {
	float: left;
	width: 80%;
	margin-left: 5%;
	margin-top: 3px;
	font-size: 13px;
	font-family: "SourceHanSansCN Regular";
	line-height: 1.4!important;
}

.pmTable_con p:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "SourceHanSansCN Regular";
	white-space: nowrap;
}

.remind_allLeftBtn {
	height: 25px;
	width: 80px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	margin: 25px auto 25px;
	border-radius: -moz-calc(5px);
	border-radius: -webkit-calc(5px);
	border-radius: 5px;
	background: #5bbfd3;
	cursor: pointer;
}

.contentBox {
	padding-bottom: 1px;
	margin-bottom: 10px!important;
}

/*重置弹框样式*/
.layui-edge {
	right: 40px!important;
}
.layui-layer-iframe iframe {
    display: block;
    border-radius: 6px!important;
    width: 100%;
}
.layui-form-select dl {
	min-width: 93%!important;
}

.layui-form-select .layui-input {
	width: 91.5%!important;
    margin: 0 0 0 2%;
}
.layui-form-item {
    margin-bottom: 7px!important;
    clear: both;
}