/*内容区域开始*/

.contentBox {
	display: flex;
	display: -webkit-flex;
}
.contentBox_right ,.contentBox_left{
	height: 420px;
	background: #FFFFFF;
	margin: 0 10px 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.contentBox_right{
		flex: 0 0 400px;
}
.contentBox_left {
	flex: 1;
}
/*数据仪表盘开始*/
.sjy_header {
	height: 10%;
	width: 90%;
	display: flex;
	margin: 0 auto;
	font-family: "微软雅黑";
	align-items: center;
	font-size: 16px;
	color: #333840;
	border-bottom: 1px solid #ccc;
}

.sjy_table {
	height: 100%;
}

.sjy_con {
	height: 90%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.sjy_left,
.sjy_right {
	height: 100%;
	flex: 0 0 48%;
	text-align: center;
}

.chart1,
.chart2 {
	height:70%;
	width: 100%;

}

.chart2_title,
.chart1_title {
	font-size: 13px;
	color: #333840;
    font-family: "微软雅黑";
	margin: 15px auto;
}

.chart1_btn,
.chart2_btn {
	display: inline-block;
	border: 1px solid #5bbfd3;
	height: 26px;
	line-height: 26px;
	width: 90px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	border-radius: 4px;
	background: #5abfd3;
	color: #fff;
	/*margin: 10px 0 20px 0;*/
}

.chart2_btn {
	width: 120px;
}
/*数据仪表盘结束*/
.hzrl_title,
.jrrw_title,
.xttx_title {
	font-size: 16px;
	width: 90%;
	margin: 10px auto;
	padding-bottom: 10px;
	font-family: "微软雅黑";
	color: #333840;
	border-bottom: 1px solid #ccc;
}
.hzrl_list,
.jrrw_list,
.xttx_list {
	width: 100%;
	margin: 0 auto;
	list-style: none;
	vertical-align: middle;
}

.hzrl_list li,
.jrrw_list li,
.xttx_list li {
	list-style: none;
	overflow: hidden;
	line-height: 2;
	height: 50px;
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding: 0;
	list-style: none;
	vertical-align: middle;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
}

.xttx_list li {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: 75px;
}

.hzrl_list_img,
.jrrw_list_img,
.xttx_list_img {
	background: url(../img/icon1.png) no-repeat center center;
	    background-size: cover;
    height: 18px;
    width: 18px;
    float: left;
    margin: 13px 0 0 0;
}

.hzrl_list_con,
.jrrw_list_con,
.xttx_list_con {
	float: left;
	width: 60%;
	margin-left: 5%;
	    margin-top: 4px;
	font-size: 13px;
	line-height: 1.5!important;
}

.hzrl_list_con p,
.jrrw_list_con p,
.xttx_list_con p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333840;
	font-family: "微软雅黑";
	margin-left: -10px;
}

.hzrl_list_con p:nth-child(1),
.jrrw_list_con p:nth-child(1),
.xttx_list_con p:nth-child(1) {
	color: #818a99;
}
.xttx_list_con p:nth-child(2) .deldate {
	color: #ff5656;
}

.hzrl_list_btn {
	width: 60px!important;
}

.hzrl_list_btn,
.jrrw_list_btn,
.xttx_list_btn {
	display: inline-block;
	border: 1px solid #ccc;
	height: 26px;
	line-height: 26px;
	width: 80px;
	line-height: 26px;
	margin-top: 10px;
	text-align: center;
	border-radius: 4px;
	color: #5bbfd3;
	font-size: 14px;
	margin-left: 15px;
	cursor: pointer;
}

.xttx_list_btn {
	color: #ff5656;
}

.require_all {
	clear: both;
	width: 80px;
	height: 25px;
	line-height: 25px;
	border-radius: 4px;
	font-size: 14px;
	background: #5bbfd3;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
}

.layui-edge {
	right: 40px!important;
}
.layui-layer-iframe iframe {
    display: block;
    border-radius: 6px!important;
    width: 100%;
		height:580px;
	background: #f4f7f8;
}
.layui-form-select dl {
	min-width: 93%!important;
}

.layui-form-select .layui-input {
		width: 91.5%!important;
    margin: 0 0 0 2%;
}
.layui-form-item {
    margin-bottom: 7px!important;
    clear: both;
}

/*内容区域结束*/


/*患者认领弹框*/

#rlhz {
	background: #f4f7f9;
	margin-bottom: 77px;
}

.rlhz_pop {
	font-size: 15px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    color: #5bbfd3;
    margin: 3px 0 10px 10px;
    box-sizing: content-box;
    border-left: 5px solid #5bbfd3;
}

.layui-layer-title {
	text-align: center;
	font-size: 16px;
	padding-left: 13px;
}

.hz_info {
	width: 100%;
}

.hz_infoItem {
	width: 50%;
	float: left;
	padding-left: 16px;
	box-sizing: border-box;
}
.hz_infoItem p, .des_info {
    margin: 0 7px 7px 7px;
    color: #a2a8b4;
    font-size: 15px;
}
.des_info {
	box-sizing: border-box;
	padding-left: 13px;
	clear: both;
}
.hz_infoItem input,
.hz_infoItem select {
	outline: none;
	border: none;
	background: #e9edf0;
	border-radius: 5px;
	height: 30px;
	width: 95.5%;
	color: #020202;
	padding-left: 10px!important;
	opacity: 0.7;
    box-sizing: border-box;
    font-family: "微软雅黑"
}

#des_info {
	width: 90%;
	margin: 0 auto;
}

.img_box {
	width: 90%;
}

.img_boxUl {
	list-style: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	    margin: 0 0 20px 20px;
}
.layui-btn{
	    margin-top:20px!important;
}
.img_boxLi {
	align-items: center;
	width: 85px;
	height: 85px;
	border-radius: 5px;
	margin-right: 3%;
}

.img_boxLi img {
	height: 85px;
	width: 85px;
}

.allInfo_wrap {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 70px;
    opacity: 1;
    background: #f4f7f8;
}

.require_allInfo {
	clear: both;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	background: #5bbfd3;
	color: #fff;
	text-align: center;
	position:fixed;
	right: 20px;
	bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}
.info_text {
	    resize: none;
     width: 96%;
    box-sizing: border-box;
    margin: 0 2%;
	    padding: 2px 0 2px 5px!important;
	line-height: 23px!important;
}
/*修改默认样式*/
.layui-layer{
	border-radius: 8px!important;
}
.layui-layer-setwin .layui-layer-close2 {
	right:2px!important;
	top: -10px!important;
}

layui-layer layui-layer-iframe
.layui-layer .layui-layer-iframe {
	border-radius: -webkit-calc(10px)!important;
	border-radius: -moz-calc(10px)!important;
	border-radius: 10px!important;
}
.layui-form-item input{
	width: 92%;
	margin-left: 2%;
}

/*患者认领弹框*/