
/*患者管理内容区域开始*/
.patientConBox {
	background: #FFF;
	box-sizing: border-box;
	margin: 10px 10px 10px 0;
}
.patientConTitle {
	height: 40px;
	line-height: 50px;
	font-size: 18px;
	font-family: "SourceHanSansCN Regular";
	margin: 10px 20px;
	box-sizing: border-box;
	position: relative;
}
/*表格*/
.newgd,.pmTbaleBtn{
		height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	border-radius: -moz-calc(5px);
	border-radius: -webkit-calc(5px);
	border-radius: 5px;
	background: #5bbfd3;
	cursor: pointer;
}
.newgd {
	width: 50px;
	position: absolute;
	right: 20px;
	top: 12px;
}
.pmTbaleBtn {
	width: 68px;
}
.pmTable {
	width: 97%;
	margin: 10px auto;
	box-sizing: border-box;
}

.pmTable tr {
	height:50px;
	border-top: 1px solid #ccc;
	font-size: 13px;
	color: #333840;
	font-family: "SourceHanSansCN Regular";
}

.pmTable th {
	color: #333840;
	font-family: "SourceHanSansCN Regular";
	height: 50px;
	line-height: 50px;
	text-align: left;
	font-size: 16px;
	font-family: "SourceHanSansCN Regular";
}

.pmTable th:nth-child(1) {
	width: 300px;
}
.pmTable_img {
	background: url(../img/icon1.png) no-repeat center center;
	  background-size: cover;
    height: 18px;
    width: 18px;
    float: left;
    margin: 13px 0 0 0;
}

.pmTable_con {
	float: left;
	width: 80%;
	margin-left: 5%;
	margin-top: 3px;
	font-size: 13px;
	font-family: "SourceHanSansCN Regular";
	line-height: 1.4!important;
}
.pmTable_con p:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "SourceHanSansCN Regular";
	white-space: nowrap;
}
/*页码*/
.pageNumbox {
	position: relative;
}
#pageNum {
	height: 87px;
	line-height: 87px;
	text-align: center;
}
#pageNum select {
	margin-top: 26px;
}
/*患者管理内容区域开始*/