/*患者管理内容区域开始*/

.remindConBoxLeft,
.remindConBoxRight {
	background: #fff;
}

.remindConBox {
	background: #FFF;
	box-sizing: border-box;
	margin: 10px 10px 10px 0;
	    padding-bottom: 1px
}
.newgd {
    width: 50px;
    position: absolute;
    right: 20px;
    top: 12px;
}

.newgd, .pmTbaleBtn {
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    border-radius: -moz-calc(5px);
    border-radius: -webkit-calc(5px);
    border-radius: 5px;
    background: #5bbfd3;
    cursor: pointer;
}
.remindConTitle {
	height: 40px;
	line-height: 50px;
	padding-left: 15px;
	font-size: 16px;
	font-family: "SourceHanSansCN Regular";
	margin: 10px 0px;
	box-sizing: border-box;
}
#sysPage,#hosPage{
	text-align: center;
}

/*表格*/

.remindTableBtn {
	height: 25px;
	width: 68px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	border-radius: -moz-calc(5px);
	border-radius: -webkit-calc(5px);
	border-radius: 5px;
	background: #5bbfd3;
	cursor: pointer;
}
.remindTableBtn2{
    display: inline-block;
    border: 1px solid #ccc;
    height: 26px;
    cursor: pointer;
    line-height: 26px;
    width: 80px;
    font-size: 1rem;
    line-height: 26px;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;
       color: #ff5656;
    margin-left: 15px;
}

.remindTable,
.remindLeftTable,
.remindRightTable {
	width: 97%;
	margin: 10px auto;
	box-sizing: border-box;
}

.remindTable tr,
.remindLeftTable tr,
.remindRightTable tr {
	height: 50px;
	border-top: 1px solid #ccc;
	font-size: 13px;
	font-family: "SourceHanSansCN Regular";
}

.remindTable th,
.remindLeftTable th,
.remindRightTable th {
	color: #333840;
	font-family: "SourceHanSansCN Regular";
	height: 50px;
	line-height:50px;
	text-align: left;
	font-size: 16px;
	font-family: "SourceHanSansCN Regular";
}

.remindLeftTableBtn,
.remindRightTableBtn{
	height: 25px;
    width: 68px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    border-radius: -moz-calc(5px);
    border-radius: -webkit-calc(5px);
    border-radius: 5px;
    background: #5bbfd3;
    cursor: pointer;
}
.remindTable_img {
	background: url(../img/icon1.png) no-repeat center center;
	  background-size: cover;
    height: 18px;
    width: 18px;
    float: left;
    margin: 13px 0 0 0;
}

.remindTable_con {
	float: left;
	width: 80%;
	margin-left: 5%;
	margin-top: 3px;
	font-size: 13px;
	font-family: "SourceHanSansCN Regular";
	line-height: 1.4!important;
}

.remindTable_con p:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "SourceHanSansCN Regular";
	white-space: nowrap;
}


/*加载所有*/

.remindManBotom {
	display: flex;
}

.remindConBoxLeft {
	flex: 0 0 49%;
}

.remindConBoxRight {
	flex: 0 0 49%;
	margin-left: 1%;
}

.remind_allLeftBtn,
.remind_allRightBtn {
	height: 25px;
	width: 80px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	margin: 15px auto 25px;
	border-radius: -moz-calc(5px);
	border-radius: -webkit-calc(5px);
	border-radius: 5px;
	background: #5bbfd3;
	cursor: pointer;
}