<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>账户管理</title>
		<link rel="icon" href="/static/main/img/logo.png" />
		<link rel="stylesheet" href="/static/main/css/common.css" />
		<link rel="stylesheet" href="/static/main/css/accountManage.css" />
        	<script src="/static/main/js/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<div class="yy_indexCon">
            {% include 'control/adminleft.html' %}
			<div class="yy_indexConRight">
			    {% include 'control/head.html' %}
				<div class="accountConBox">
					<div class="accountConTitle"><span>更改密码</span></div>
					<div class="changePass yy_loginForm">
						<div class="changeLeft">
							<p class="p_text">旧密码<span style="color: red;">*</span> </p>
							<p>
                                <input type="password" id="op" onblur="check1()" />
                              <p id="opInfo"></p>
                            </p>
							<p class="p_text">新密码<span style="color: red;">*</span> </p>
							<p><input type="password" id="np1" onblur="check2(),check3()" />
                              <p id="np1Info"></p></p>
							<p class="p_text">重复新密码<span style="color: red;">*</span> </p>
							<p><input type="password" id="np2" onblur="check3()" />
                              <p id="np2Info"></p></p>
							<div class="changePassBtn">
								保存提交
							</div>
						</div>
						<div class="changeRight">
							<p class="changePassTitle">复旦张江患者管理系统密码管理规定</p>
							<p>1.密码需要八位以上</p>
							<p>2.密码需要包含大写字母，小写字母以及数字，三类字符缺一不可</p>
							<p>3.需要定期修改密码</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

    <script>
    function  check1() {
       var val=$('#op').val();
       if(val==""){
           $('#opInfo').html('不能为空').css("color","red");
           return false
       }else{
           $('#opInfo').html('')
           return true
       }
    }
    function  check2() {
       var val=$('#np1').val();
       if(val==""){
           $('#np1Info').html('不能为空').css("color","red");
           return false
       }else{
           $('#np1Info').html('')
           return true
       }
    }
    function  check3() {
        var val1=$('#np1').val();
       var val=$('#np2').val();
       if(val!=""&&val1==val&&val1!=""){
            $('#np2Info').html('')
           return true
       }else{
           $('#np2Info').html('两次密码不一致或者未填写').css("color","red");
           return
       }
    }
    $(".changePassBtn").click(function () {
        if(check1()&&check2()&&check3()){
            $.ajax("/api/apoint/AccountSet",{
                data:{"oldpass":$("#op").val(),"newpass":$("#np1").val()},
                type:"POST",
                dataType:"json",
                success:function (data) {
                    window.location='/login'
                    alert("修改成功")
                }
            })
        }
        else {
            alert("请正确完善信息")
        }

    })
    </script>
</html>