<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>创建员工</title>
		<link rel="stylesheet" type="text/css" href="static/main/css/index.css" />
		<link rel="stylesheet" type="text/css" href="static/main/js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="static/main/css/addStaff.css" />
	</head>

	<body>
		<div id="rlhz">
			<div class="newPatientTitle">创建新的员工</div>
			<p class="rlhz_pop">销售信息</p>
			<div class="hz_info">
				<div class="hz_infoItem">
					<p>员工姓名</p>
					<p><input type="text" name="" id="name" value="" /></p>
				</div>
				<div class="hz_infoItem">
					<p>手机号</p>
					<p>

						<input type="text" name="" id="phone" value="" />

					</p>
				</div>

				<div class="hz_infoItem">
					<p>所属区域</p>
					<div class="layui-form">
						<div class="layui-form-item">
							<select name="" id="area">
								<option value="">请选择地区</option>
                {% for foo in area %}
                <option value="{{ foo.name }}" data-id="{{ foo.name }}">{{ foo.name }}</option>
                {% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="hz_infoItem">
					<p>负责医院数目</p>
					<div class="layui-form">
						<div class="layui-form-item">
							<p class="chooseHospital">选择负责医院</p>

						</div>
					</div>
				</div>
				<p class="rlhz_pop" style="clear: both;">负责医院清单(与负责区域的对应关系)</p>

				<div class="hospitalList">

				</div>

			</div>
			<div style="position: relative;height: 66px;">

				<span class="sureChange ">
				放弃修改
			</span>
				<span class="sureAdd">
				保存提交
			</span>
			</div>
		</div>
		<script src="static/main/js/jquery-3.3.1.min.js "></script>
		<script src="static/main/js/layui/layui.js "></script>

		<script>
      var hosps =[];
			layui.use(['form', 'laydate', 'upload'], function() {
			  var form = layui.form,
					upload = layui.upload,
					laydate = layui.laydate;
          laydate.render({
            elem: '#yyDate'
          });
				$('.sureAdd').click(function() {
				  layer.open({
                  type: 3,
                  content: '正在提交 ...'
          });
          ids =[]
          for(var i=0;i<hosps.length;i++) {
            ids.push(hosps[i].id)
          }
          $.ajax({
              url:"/api/apoint/addstaff/",
              type:'POST',
              data:{"name":$("#name").val(),"phone":$("#phone").val(), "city":$("#area").val(),
                "hosps":JSON.stringify(ids)
              },
              success:function (arg) {
                $('.')
                parent.layer.closeAll()
                parent.layer.msg('添加成功')
              }
            });
				})
				$('.sureChange').click(function() {
					parent.layer.closeAll();
				})
				$(".chooseHospital").click(function() {
				layer.open({
						type: 2,
						title: false,
						closeBtn: 1, //不显示关闭按钮
						shade: [0.4],
						area: ['600px', '450px'],
						offset: '40px',
						scrollbar: false, //禁止浏览器滚动
						anim: 2,
						content: ['/addHospital', 'yes'], //iframe的url，no代表不显示滚动条
						end: function() { //此处用于演示
              $(".hospitalList").html("");
              for(var i=0;i<hosps.length;i++)
              {
                $(".hospitalList").append('<div class="hospitalItem">'+hosps[i]['name']+'</div>')
              }

						}
					});
				})
			});
		</script>
	</body>

</html>