<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>创建员工</title>
		<link rel="stylesheet" type="text/css" href="/static/main/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/static/main/js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/static/main/css/addStaff.css" />
	</head>

	<body>
		<div id="rlhz">
			<div class="newPatientTitle">添加新的员工</div>
			<p class="rlhz_pop">销售信息</p>
			<div class="hz_info">
				<div class="hz_infoItem">
					<p>员工姓名</p>
					<p><input type="text" name="" id="name" value="{{ user.name }}" /></p>
				</div>
				<div class="hz_infoItem">
					<p>手机号</p>
					<p>
						<input type="text" name="" id="phone" value="{{ user.phone }}" />
					</p>
				</div>
				<div class="hz_infoItem">
					<p>平台绑定状态</p>
					<p>
						<input type="text" name="" id="" value="{% if user.is_cert  %} 是 {% else %} 否 {% endif %}" />
					</p>
				</div>
				<div class="hz_infoItem">
					<p>所属区域</p>
					<div class="layui-form">
						<div class="layui-form-item">
							<select name="" id="area">
              	<option value="">请选择地区</option>
                {% for foo in area %}
                		<option {% if user.city == foo.name %}
                		selected="selected"
                		{% endif %} value="{{ foo.name }}">{{ foo.name }}</option>
                {% endfor %}
                


							</select>
						</div>
					</div>
				</div>
				<div class="hz_infoItem">
					<p>负责医院数目</p>
					<div class="layui-form">
						<div class="layui-form-item">
							<p class="chooseHospital" id="{{ user.id }}">选择负责医院</p>

						</div>
					</div>
				</div>

          {% for foo in manHospital %}
          <p class="rlhz_pop" style="clear: both;">{{foo.name}} </p>
          {% endfor %}

				<div class="hospitalList">
          {% for foo in hosps %}
          <div class="hospitalItem">{{ foo.name }}</div>
          {% endfor %}



				</div>

			</div>
			<div style="position:fixed;height: 66px;width:100%;bottom:0;">

				<span class="sureChange ">
				放弃修改
			</span>
				<span class="sureAdd">
				保存提交
			</span>
			</div>
		</div>
    <script src="/static/main/js/tools.js"></script>
		<script src="/static/main/js/jquery-3.3.1.min.js "></script>
		<script src="/static/main/js/layui/layui.js "></script>

		<script>
      var hosps=[]
			layui.use(['form', 'laydate', 'upload'], function() {
				var form = layui.form,
					upload = layui.upload,
					laydate = layui.laydate;
				laydate.render({
					elem: '#yyDate'
				});
				$('.sureAdd').click(function() {
				   ids =[]
                  for(var i=0;i<hosps.length;i++) {
                    ids.push(hosps[i].id)
                  }
          var data ={"name":$("#name").val(),"phone":$("#phone").val(), "city":$("#area").val(),
                "hosps":JSON.stringify(ids)
              };
				   if (getParam("id"))
           {
             data["id"]=getParam("id")
           }
				  $.ajax({
              url:"/api/apoint/addstaff/",
              type:'POST',
              data:data,
              success:function (arg) {
                  parent.isneedreload=true;
                	parent.layer.closeAll();
					      parent.layer.msg('提交成功');
              }
            });

				})
				$('.sureChange').click(function() {
					parent.layer.closeAll();
				})
				$(".chooseHospital").click(function() {
				 var uid = $(this).attr("id")
					layer.open({
						type: 2,
						title: false,
						closeBtn: 1,
						shade: [0.4],
						area: ['600px', '450px'],

						scrollbar: false,
						anim: 2,
						content: ['/editHospital?id='+uid, 'yes'],
						end: function() {
						   $(".hospitalList").html("");
                          for(var i=0;i<hosps.length;i++)
                          {
                            $(".hospitalList").append('<div class="hospitalItem">'+hosps[i]['name']+'</div>')
                          }

						}
					});
				})
			});
		</script>
	</body>

</html>