<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>第三方系统匹配管理</title>
		<link rel="icon" href="/static/main/img/icon.png" />
		<link rel="stylesheet" href="/static/main/css/common.css" />
		<link rel="stylesheet" href="/static/main/css/remindManage.css" />
        <link rel="stylesheet" href="/static/main/css/layui.css" />
	</head>

	<body>
		<div class="yy_indexCon">
			{% include 'control/adminleft.html' %}
			<div class="yy_indexConRight">
				 {% include 'control/head.html' %}
				<div class="remindConBox" style="height: 550px;">
					<div class="remindConTitle"><span>第三方系统匹配管理</span></div>
					<table cellpadding="0" cellspacing="0" border="0" class="remindTable" style="">

							<tr>
								<th>预约系统</th>
								<th>第三方系统</th>

								<th>负责销售</th>
								<th>负责客服</th>
								<th>管理员操作</th>
							</tr>

	                    <tbody  id="data">


						</tbody>
					</table>
	 <input type="hidden" value="{{ all }}" id="count">
					 <div id="pageNum"></div>
				</div>


			</div>
		</div>
	</body>
	<script src="/static/main/js/jquery-3.3.1.min.js"></script>
	<script src="/static/main/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.use([ 'laypage','layer'], function() {

	    var laypage = layui.laypage, layer = layui.layer
			//日期



	        laypage.render({
			elem: 'pageNum',
			count: $("#count").val(),
			layout: ['count', 'prev', 'page', 'next',  'skip'],
			limit:10,
			jump: function(obj,first) {
                $.ajax("/api/apoint/allnoservit/?page="+obj.curr,
                    {
                        type:"GET",
                        dataType:"json",
                        success:function (data) {
                            $("#data").html(data.lister);
                            $('.patientMan').click(function() {
                                var sid =$(this).attr("id")
                                var oid =$(this).attr("data-id")
                            layer.open({
                                type: 2,
                                title: false,
                                closeBtn: 1, //不显示关闭按钮
                                shade: [0.4],
                                area: ['800px', '640px'],
                                offset: '40px',
                                scrollbar: false, //禁止浏览器滚动
                                anim: 2,
                                content: ['/thirdpop?id='+sid+"&oid="+oid, 'yes'], //iframe的url，no代表不显示滚动条
                                end: function() { //此处用于演示

                                }
                            })
                        })
                        }
                    }
                )
            }
            });

		});
	</script>

</html>
