<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>管理员首页页面</title>
    <link rel="icon" href="/static/main/img/logo.png" />
    <link rel="stylesheet" type="text/css" href="/static/main/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main/css/adminindex.css"/>
    <link rel="stylesheet" href="/static/main/css/layui.css"/>
    <style>
        th {
            text-align: center;
        }
    </style>
</head>

<body>
<div class="yy_indexCon">
    {% include 'control/adminleft.html' %}
    <div class="yy_indexConRight">
        {% include 'control/head.html' %}
        <div class="contentBox">
            <div class="patientConTitle"><span>销售账号管理</span><span class="pmTbaleBtnLeft" id="addStaff">新增</span></div>
            <table cellpadding="0" cellspacing="0" border="0" class="pmTable">

                <tr>
                    <th>员工姓名</th>
                    <th>手机号码</th>
                    <th>绑定状态</th>
                    <th>负责区域</th>

                    <th style="text-align: center">操作</th>
                    <tbody id="data">
                    </tr>
                    {{ data }}
                    </tbody>
            </table>
            <input type="hidden" value="{{ all }}" id="all">
            <div id="pageNum"></div>

        </div>
        <div class="contentBox">
            <div class="patientConTitle"><span>客服账号管理</span><span class="pmTbaleBtnLeft" id="addCustom">新增</span></div>
            <table cellpadding="0" cellspacing="0" border="0" class="pmTable">

                <tr>
                    <th>客服姓名</th>
                    <th>手机号码</th>
                    <th>账号</th>
                    <th style="text-align: center">操作</th>
                </tr>
                <tbody id="data2">
                {{ lister }}


                </tbody>
            </table>

        </div>
    </div>
</div>
</div>

</div>

<script src="/static/main/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/main/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    //分页
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
        //自定义样式
        //完整功能
        laypage.render({
            elem: 'pageNum',
            count: $("#all").val(),
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            jump: function (obj,first) {
                if (!first)
                {

                    reloadData(obj.curr)
                }
            }
        });

        //编辑按钮

        $('#data').on('click', '.saleredit', function () {
            var sid = $(this).attr("data-id");
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0.4],
                area: ['650px', '550px'],
                offset: '40px',
                scrollbar: false, //禁止浏览器滚动
                anim: 2,
                content: ['/api/apoint/staffeditor/?id=' + sid, 'yes'],
                end: function () {
                    reloadData(1)
                }
            });

        });
        $('#data2').on('click', '.customeredit', function () {

            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0.4],
                area: ['650px', '550px'],
                offset: '40px',
                scrollbar: false, //禁止浏览器滚动
                anim: 2,
                content: ['/addCustomer?id=' + $(this).attr("data-id"), 'yes'], //iframe的url，no代表不显示滚动条
                end: function () { //此处用于演示

                }

            });
        });
        //删除

        $('#data,#data2').on('click','.pmTbaleBtn',function () {
            layer.open({
                type: 3,
                content: '删除中...'
            });
            var stId = $(this).prev().attr("data-id");
            var othis = this;
            layer.confirm('确认删除本条记录吗?', {
                btn: ['是', '否'], btn1: function (index) {
                    $.ajax({
                        url: '/api/apoint/staffdelete/',
                        type: "POST",
                        data: {"id": stId},
                        success: function () {
                            parent.layer.closeAll()
                            location.href=location.href
                            {#$(othis).parent().parent().remove();#}
                            {#layer.msg("删除成功");#}
                        }
                    })
                },
                btn2: function () {
                    parent.layer.closeAll()
                }
            })
        });
        //添加员工
        $('#addStaff').click(function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0.4],
                area: ['650px', '550px'],
                offset: '40px',
                scrollbar: false, //禁止浏览器滚动
                anim: 2,
                content: ['/staffaddnew', 'yes'], //iframe的url，no代表不显示滚动条
                end: function () { //此处用于演示
                    location.href=location.href
                }
            });
        });

        $("#addCustom").click(function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0.4],
                area: ['650px', '550px'],
                offset: '40px',
                scrollbar: false, //禁止浏览器滚动
                anim: 2,
                content: ['/addCustomer', 'yes'], //iframe的url，no代表不显示滚动条
                end: function () { //此处用于演示
                    reloadCustomerData(1)
                }

            });
        });
    });

    function reloadData(page) {

        $.ajax({
            url: "/api/apoint/staffall/",
            data: {"page": page},
            type: "GET",
            dataType: "json",
            success: function (data) {

                $("#data").html(data.lister);
                $("#all").val(data.all);

            }
        })
    }
     function reloadCustomerData(page) {

        $.ajax({
            url: "/api/apoint/AccountAll",
            type: "GET",
            dataType: "json",
            success: function (data) {

                $("#data2").html(data.lister);


            }
        })
    }
</script>

</body>

</html>