<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>患者数据管理</title>
		<link rel="icon" src="/static/main/imgicon.png" />
		<link rel="stylesheet" href="/static/main/css/common.css" />
		<link rel="stylesheet" href="/static/main/css/remindManage.css" />
        <link rel="stylesheet" href="/static/main/css/layui.css" />
	</head>
	<body>
		<div class="yy_indexCon">
			{% include 'control/adminleft.html' %}
			<div class="yy_indexConRight">
				 {% include 'control/head.html' %}
				<div class="remindConBox">
					<div class="remindConTitle"><span>预约患者数据</span></div>
					<table cellpadding="0" cellspacing="0" border="0" class="remindTable" style="">

							<tr>
								<th>预约工单</th>
								<th>负责客服</th>
								<th>负责销售</th>
								<th>目前状态</th>
								<th>是否第三方系统用户</th>
								<th>管理员操作</th>
							</tr>
                            <tbody id="data">
                            {% for foo in order %}

							<tr>
                              <td>
                                <div class="pmTable_img"></div>
                                <div class="pmTable_con">
                                    <p>{{ foo.name }}</p>
                                    <p>{{ foo.wantTime|date:"Y-m-d" }} {{ foo.wanthospital }}</p>
                                </div>
                            </td>
								<td>{{ foo.custome }}</td>
								<td>{{ foo.wanthospital.sales }}</td>
								<td>{{ foo.get_status_display }}</td>
								<td>{% if foo.is_party %}
								是
                                    {% else %}
                                    否
								{% endif %}</td>
								<td><span class="remindTableBtn patientMan" id="{{ foo.id }}">去管理</span></td>
							</tr>

    {% endfor %}
						</tbody>
					</table>
					 <input type="hidden" value="{{ all }}" id="count">
					 <div id="pageNum"></div>
				</div>
			</div>
		</div>
	</body>
	<script src="/static/main/js/jquery-3.3.1.min.js"></script>
	<script src="/static/main/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/main/js/adminpatientManage.js"></script>
	<script type="text/javascript">

		layui.use([ 'layer'], function() {

				var layer = layui.layer,
				laydate = layui.laydate;

			$("#data").on("click",".patientMan",function() {
			      var sid = $(this).attr("id");
				    layer.open({
					type: 2,
					title: false,
					closeBtn: 1, //不显示关闭按钮
					shade: [0.4],
					area: ['800px', '550px'],
					offset: '40px',
					scrollbar: false, //禁止浏览器滚动
					anim: 2,
					content: ['/orderdetail?id='+sid, 'yes'], //iframe的url，no代表不显示滚动条
					end: function() { //此处用于演示
                        reloadData(1);
					}
				})
			})

            $(".newgd").click(function () {
								parent.layer.open({
												type: 2,
												title: false,
												closeBtn: 1, //不显示关闭按钮
												shade: [0.4],
												area: ['800px', '600px'],
												offset: '40px',
												scrollbar: false, //禁止浏览器滚动
												anim: 2,
												content: ['/addpation', 'yes'], //iframe的url，no代表不显示滚动条
												end: function() {}
											});
							});
		});
	</script>

</html>