<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>客服提醒管理</title>
		<link rel="icon" href="img/icon.png" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/accountManage.css" />
	</head>

	<body>
		<div class="yy_indexCon">
			<div class="yy_indexConLeft">
				<div class="yy_indexConLeftCon">
					<div>
						<div class="yy_loginLogo">
							<img src="img/logo.png" alt="" />
						</div>
						<p class="yy_indexTitle">张江患者预约管理系统</p>
					</div>
					<ul class="kf_power">
						<a href="首页.html"><li>控制台</li></a>
						<a href="patientManage.html"><li>患者管理</li></a>
						<a href="remindManage.html"><li >提醒管理</li></a>
						<a href="formManage.html"><li>报表管理</li></a>
						<a href="accountManage.html" ><li   class="li_active">账户管理</li></a>
					</ul>
				</div>

			</div>
			<div class="yy_indexConRight">
				<div class="yy_indexConRightHeader">
					<div class="searchBox">
						<i class="icon"></i>
						<input type="text" id="serch" placeholder="搜索患者" />
						<button class="search_Btn">搜索</button>
					</div>
					<div class="loginAndName">
						<span class="userName">
											你好MR
									</span>
						<span class="login">
											登录
									</span>
					</div>
				</div>
				<div class="accountConBox">
					<div class="accountConTitle"><span>更改密码</span></div>
					<div class="changePass yy_loginForm">
						<div class="changeLeft">
							<p class="p_text">旧密码<span style="color: red;">*</span> </p>
							<p><input type="password" /></p>
							<p class="p_text">新密码<span style="color: red;">*</span> </p>
							<p><input type="password" /></p>
							<p class="p_text">重复新密码<span style="color: red;">*</span> </p>
							<p><input type="password" /></p>
							<div class="changePassBtn">
								保存提交
							</div>
						</div>
						<div class="changeRight">
							<p class="changePassTitle">复旦张江患者管理系统密码管理规定</p>
							<p>1.密码需要八位以上</p>
							<p>2.密码需要包含大写字母，小写字母以及数字，三类字符缺一不可</p>
							<p>3.需要定期修改密码</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery-3.3.1.min.js"></script>

</html>