<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新建患者页面</title>
		<link rel="stylesheet" type="text/css" href="/static/main/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/static/main/js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/static/main/css/addPatient.css" />
        <link rel="stylesheet" type="text/css" href="/static/main/css/uploader.css" />
	</head>

	<body>
		<div id="rlhz">
			<div class="newPatientTitle"><span class="newPatientBtn">患者ID：178687361</span>患者新建表</div>
			<p class="rlhz_pop">患者信息</p>
			<div class="hz_info">
				<div class="hz_infoItem">
					<p>患者姓名</p>
					<p><input type="text" name="name" id="name" value="" /></p>
				</div>
				<div class="hz_infoItem">
					<p>性别</p>
					<p>
						<div class="layui-form">
							<div class="layui-form-item">
								<select name="sex" id="sex">
									<option value="">请选择性别</option>
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
							</div>
						</div>
					</p>
				</div>
				<div class="hz_infoItem">
					<p>出生日期</p>
					<p><input type="text" id="birthDay" class="layui-input dateinput" placeholder="YYYY-MM-dd"></p>
				</div>
				<div class="hz_infoItem">
					<p>手机</p>
					<p><input type="text" name="phone" id="phone" value="" /></p>
				</div>
				<div class="hz_infoItem">
					<p>期望预约时间</p>
					<p>
						<input type="text" id="yyDate" class="layui-input dateinput" placeholder="YYYY-MM-dd">
					</p>
				</div>
				<div class="hz_infoItem">
					<p>预约医院</p>
					<div class="layui-form">
						<div class="layui-form-item">
							<select name="" id="hosp">
								<option value="">请选择医院</option>
                                {% for foo in hosp %}
                                <option value="{{ foo.id }}">{{ foo.name }}</option>
                                {% endfor %}

							</select>
						</div>
					</div>
				</div>
				<div class="hz_infoItem">
					<p>所属区域</p>
					<div class="layui-form">
						<div class="layui-form-item">
							<select name="" id="area">
								<option value="">请选择地区</option>
								 {% for foo in area %}
                                <option value="{{ foo.id }}">{{  foo.name}}</option>
                                {% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
			<p class="des_info">胎记治疗及胎记描述</p>
			<textarea name=""  cols="30" id="textarea"  class="info_text"></textarea>
			<p class="des_info">胎记治疗及胎记图片</p>
			<div class="img_box">
				<ul class="img_boxUl">
                    <li class="img_boxLi" id="addupload"> <img src="/static/main/img/add.png" style="width: 85px"  ></li>
				 </ul>
			</div>
			<div class="allInfo_wrap">
				<div class="require_allInfo " id="sureAdd">
					确认新建
				</div>
			</div>
		</div>
		<script src="/static/main/js/jquery-3.3.1.min.js "></script>
		<script src="/static/main/js/layui/layui.js "></script>
        <script src="/static/main/js/dataform.js"></script>
        <script src="/static/main/js/tools.js"></script>
		<script>
            var imgSrcList = []
             var text = document.getElementById("textarea");
            autoTextarea(text);// 调用
		</script>
	</body>

</html>