<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>客服提醒管理</title>
		<link rel="icon" href="/static/main/img/icon.png" />
		<link rel="stylesheet" href="/static/main/css/common.css" />
		<link rel="stylesheet" href="/static/main/css/formManage.css" />
	</head>

	<body>
		<div class="yy_indexCon">
			{% include 'control/left.html' %}
			<div class="yy_indexConRight">
				 {% include 'control/head.html' %}

				<div class="formManBotom">
					<div class="formConBoxLeft">
						<div class="formConTitle"><span>本月数据纵览</span></div>
						<div id="nowMouth1" style="height: 70%;">

						</div>

					</div>
					<div class="formConBoxRight">
						<div class="formConTitle"><span>本月已到诊患者状态总览</span></div>
						<div id="nowMouth4" style="height: 70%;">

						</div>

					</div>

				</div>
				<!--下半部分两列布局-->
				<div class="formManBotom">
					<div class="formConBoxLeft">
						<div class="formConTitle"><span>我负责的全部患者数据汇总</span></div>
						<div id="nowMouth2" style="height: 70%;">

						</div>

					</div>
					<div class="formConBoxRight">
						<div class="formConTitle"><span>我负责的已到诊患者状态总览</span></div>
						<div id="nowMouth3" style="height: 70%;">

						</div>

					</div>
				</div>

			</div>
		</div>
	</body>
	<script src="/static/main/js/jquery-3.3.1.min.js"></script>
	<script src="/static/main/js/echarts.common.min.js"></script>
{#	<script src="/static/main/js/formManage.js"></script>#}
    <script>
        var nowMouth1 = echarts.init(document.getElementById('nowMouth1'));
		// 指定图表的配置项和数据
		var optionNow1 = {
			tooltip: {},

			xAxis: [{
				data: ["本月累计跟进人次", "本月分配患者数", "本月认领患者数"],
				axisLabel: {
					rotate:30, //刻度旋转45度角
					textStyle: {
						color: "red",
						fontSize:10
					}
				}
			}],
			yAxis: {},
			series: [{
					name: '数量',
					type: 'bar',
					barWidth: 30, //柱图宽度
					data: [{{ thismonth }}, {{ thismonthfp }}, {{ thismonthrl}}],
					itemStyle: {
						//通常情况下：
						normal: {
							color: function(params) {
								var colorList = ['rgb(87,126,250)', 'rgb(110,217,181)', 'rgb(248,134,94)', 'rgb(175,216,255)'];
								return colorList[params.dataIndex];
							}
						},
						//鼠标悬停时：
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
				}

			]
		};
		nowMouth1.setOption(optionNow1);

		var nowMouth2 = echarts.init(document.getElementById('nowMouth2'));
		// 指定图表的配置项和数据
		var optionNow2 = {
			tooltip: {},
			xAxis: [{
				data: ["累计跟进人次", "累计分配患者数", "累计认领患者数"],
				axisLabel: {
					rotate: 30, //刻度旋转45度角
					textStyle: {
						color: "red",
						fontSize: 16
					}
				}
			}],
			yAxis: {},
			series: [{
					name: '数量',
					type: 'bar',
					barWidth: 30, //柱图宽度
					data: [{{ thismonthall }}, {{ thismonthfpall }}, {{ thismonthrlall }}],
					itemStyle: {
						//通常情况下：
						normal: {
							color: function(params) {
								var colorList = ['rgb(87,126,250)', 'rgb(110,217,181)', 'rgb(248,134,94)',];
								return colorList[params.dataIndex];
							}
						},
						//鼠标悬停时：
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
				}

			]
		};
		nowMouth2.setOption(optionNow2);
		//
		var nowMouth3 = echarts.init(document.getElementById('nowMouth3'));
		// 指定图表的配置项和数据
		var optionNow3 = {
			tooltip: {},
			xAxis: [{
				data: ["安排治疗", "预约延后治疗", "转院","暂停"],
				axisLabel: {
					rotate: 30, //刻度旋转45度角
					textStyle: {
						color: "red",
						fontSize: 16
					}
				}
			}],
			yAxis: {},
			series: [{
					name: '数量',
					type: 'bar',
					barWidth: 30, //柱图宽度
					data:[{{ v1all }}, {{ v2all }}, {{ v3all }},{{ v4all }}],
					itemStyle: {
						//通常情况下：
						normal: {
							color: function(params) {
								var colorList = ['rgb(87,126,250)', 'rgb(110,217,181)', 'rgb(248,134,94)', 'rgb(192,0,0)'];
								return colorList[params.dataIndex];
							}
						},
						//鼠标悬停时：
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
				}

			]
		};
		nowMouth3.setOption(optionNow3);


		var nowMouth4 = echarts.init(document.getElementById('nowMouth4'));
		// 指定图表的配置项和数据
		var optionNow4 = {
			tooltip: {},
			xAxis: [{
				data: ["安排治疗", "预约延后治疗", "转院","暂停"],
				axisLabel: {
					rotate: 30, //刻度旋转45度角
					textStyle: {
						color: "red",
						fontSize: 16
					}
				}
			}],
			yAxis: {},
			series: [{
					name: '数量',
					type: 'bar',
					barWidth: 30, //柱图宽度
					data: [{{ v1 }}, {{ v2 }}, {{ v3 }},{{ v4 }}],
					itemStyle: {
						//通常情况下：
						normal: {
							color: function(params) {
								var colorList = ['rgb(87,126,250)', 'rgb(110,217,181)', 'rgb(248,134,94)', 'rgb(192,0,0)'];
								return colorList[params.dataIndex];
							}
						},
						//鼠标悬停时：
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
				}

			]
		};
		nowMouth4.setOption(optionNow4);
    </script>
</html>