	<div class="yy_indexConRightHeader">
        <div class="searchBox">
            <i class="icon"></i>
            <input type="text" id="serch" placeholder="搜索患者" />
            <button class="search_Btn" id="searchBtn">搜索</button>
        </div>
        <div class="loginAndName">
            <span class="userName">
                    欢迎 {{ user.name }}
            </span>
            <span class="login">
                <a href="/logout/">退出登录</a>
            </span>
        </div>
    </div>