<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>患者管理</title>
		<link rel="icon" href="img/icon.png" />
		<link rel="stylesheet" href="/static/main/css/patientManage.css" />
        <link rel="stylesheet" type="text/css" href="/static/main/css/common.css" />
        <script src="/static/main/js/jquery-3.3.1.min.js"></script>
	</head>
	<body style="min-width: 1300px;">
		<div class="yy_indexCon">
			 {% include 'control/left.html' %}
			<div class="yy_indexConRight">
                    {% include 'control/head.html' %}
				<div class="patientConBox">

					<div class="patientConTitle"><span>患者预约工单提醒</span> <span class="newgd">新建</span></div>
					<table cellpadding="0" cellspacing="0" border="0" class="pmTable" style="">
						<tbody>
							<tr>
								<th>预约工单</th>
								<th>当前状态</th>
								<th>提交时间</th>
								<th>所属区域</th>
								<th>负责销售</th>
								<th>客服操作</th>
							</tr>
                            {% for foo in order %}
                                <tr>
								<td>
									<div class="pmTable_img"></div>
									<div class="pmTable_con">
										<p>{{ foo.name }}</p>
										<p>{{ foo.wantTime|date:"Y-m-d" }} {{ foo.wanthospital }}</p>
									</div>
								</td>
								<td>{{ foo.get_status_display}}</td>
								<td>{{ foo.createtime |date:"Y-m-d"}}</td>
								<td>{{ foo.area }}</td>
								<td>{{ foo.wanthospital.sales }}</td>
								<td><span class="pmTbaleBtn">电话回访</span></td>
							</tr>
                            {% endfor %}
						</tbody>

					</table>
					<div class="pageNumbox">
						<span class="indexPage">首页</span>
						<span class="leftArrow"></span><span>1</span>/<span>10</span><span class="rightArrow"></span>
						<span class="lastPage">尾页</span>
					</div>

					<div id="pageNum"></div>
				</div>

			</div>
		</div>


		<script src="/static/main/js/layui/layui.js"></script>
	<script src="/static/main/js/patientManage.js"></script>

	</body>
</html>