<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>客服提醒管理</title>
		<link rel="icon" href="/static/main/img/logo.png" />
		<link rel="stylesheet" href="/static/main/css/common.css" />
		<link rel="stylesheet" href="/static/main/css/remindManage.css" />
    <script src="/static/main/js/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<div class="yy_indexCon">
            {% include 'control/left.html' %}
			<div class="yy_indexConRight">
				 {% include 'control/head.html' %}
				<div class="remindConBox">
					<div class="remindConTitle"><span>预约患者数据</span></div>
					<table cellpadding="0" cellspacing="0" border="0" class="remindTable" style="">

							<tr>
								<th>预约工单</th>
								<th>目前状态</th>
								<th>计划时间</th>
								<th>逾期天数</th>
								<th>负责销售</th>
								<th style="text-align: center">客服操作</th>
							</tr>
                    <tbody id="data">
                            {% for order in lister %}
                                <tr>
								<td>
									<div class="remindTable_img"></div>
									<div class="remindTable_con">
										<p>{{ order.name }}</p>
										<p>{{ order.wantTime }} {{ order.wanthospital }}</p>
									</div>
								</td>
								<td>{{ order.status}}</td>
								<td>{{ order.nextcalldate  }}</td>
								<td>{{ order.day }}</td>
								<td>{{ order.sales }}</td>
								<td class="btnTD" style="text-align: center"><span class="remindTableBtn pmTbaleBtn" id="{{ order.id }}">去管理</span></td>
							</tr>
                            {% empty %}
                              <tr>
                              <td colspan="6">  暂无数据</td>
                              </tr>
                            {% endfor %}
						</tbody>
					</table>
                <a href="/overdue"><div class="remind_allRightBtn">查看全部</div></a>
				</div>
				<!--下半部分两列布局-->
				<style>

				</style>
				<div class="remindManBotom">
					<div class="remindConBoxLeft">
						<div class="remindConTitle"><span>销售备注提醒</span></div>
						<table cellpadding="0" cellspacing="0" border="0" class="remindLeftTable" style="">
							<tbody>
								<tr>
									<th>预约患者</th>
									<th>提交销售</th>
									<th  style="text-align: center">管理员操作</th>
								</tr>
                                {% for order in notes %}
                                 <tr>
									<td>
										<div class="remindTable_img"></div>
										<div class="remindTable_con">
											<p>{{ order.name }}</p>
											 <p>{{ order.wantTime }} {{ order.wanthospital }}</p>
										</div>
									</td>
									<td>{{ order.sales }}</td>

									<td  style="text-align: center"><span class="remindTableBtn pmTbaleBtn"  id="{{ order.id }}">去管理</span></td>
								</tr>
                                     {% empty %}
                                 <tr><td  colspan="3"> 暂无数据</td></tr>
                                {% endfor %}
                                


							</tbody>
						</table>
						<a href="/salercommit"><div class="remind_allRightBtn">查看全部</div></a>
					</div>
					<div class="remindConBoxRight">
						<div class="remindConTitle"><span>分配工单提醒</span>
						</div>
						<table cellpadding="0" cellspacing="0" border="0" class="remindRightTable">
							<tbody>
								<tr>
									<th>预约事件</th>
									<th>负责销售</th>
									<th  style="text-align: center">客服操作</th>
								</tr>
                                {% for order in admin %}
                                	<tr>
									<td>
										<div class="remindTable_img"></div>
										<div class="remindTable_con">
											<p>{{ order.name }}</p>
										 <p>{{ order.wantTime }} {{ order.wanthospital }}</p>
										</div>
									</td>
									<td>{{ order.sales }}</td>
									<td  style="text-align: center"><span class="remindTableBtn2 pmTbaleBtn"  id="{{ order.id }}">去跟进</span></td>
								</tr>
                                {% empty %}
                                 <tr><td  colspan="3"> 暂无数据</td></tr>
                                {% endfor %}


							</tbody>
						</table>
						<a href="/adminfenpei"><div class="remind_allRightBtn">查看全部</div></a>
					</div>
				</div>

			</div>
		</div>
	</body>
	<script src="/static/main/js/jquery-3.3.1.min.js"></script>
	<script src="/static/main/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/main/js/remindManage.js"></script>

</html>