				/*html {
					height: 100%;
				}*/
				
				body {
					margin: 0;
					padding: 0;
					background: #f4f7f9;
					font-family: "微软雅黑";
					/*					height: 100%;*/
				}
				
				p,
				input,
				ul {
					margin: 0;
					padding: 0;
				}
				
				.yy_indexCon {
					display: flex;
				}
				
				.yy_indexConLeft {
					width: 200px;
					flex: 0 0 200px;
					background-color: #fff;
					margin: 0 10px;
				}
				
				.yy_indexConRight {
					height: 100%;
					flex: 1;
				}
				
				.yy_loginLogo {
					text-align: center;
				}
				
				.yy_loginLogo img {
					margin: 30px auto 15px;
					height: 80px;
					width: 80px;
					box-shadow: 1px 1px 10px #ccc;
					border-radius: 5px;
					background-color: #fff;
				}
				
				.yy_indexTitle {
					margin: 10px auto;
					text-align: center;
					font-family: "微软雅黑";
					font-size: 14px;
					color: #3b424d;
				}
				
				.kf_power {
					list-style: none;
				}
				
				.kf_power li {
					list-style: none;
					display: block;
					height: 40px;
					line-height: 40px;
					text-align: left;
					padding-left: 25%;
					box-sizing: border-box;
					color: #6b7380;
					font-size: 14px;
					font-family: "微软雅黑";
				}
				
				.kf_power .li_active {
					background-color: #e0e7f2;
					color: #333840;
					font-weight: 600;
					border-left: 5px solid blue
				}
				/*//右侧头部开始*/
				
				.yy_indexConRightHeader {
					width: 99%;
					background-color: #fff;
					margin: 5px 10px 5px 0%;
					display: inline-block;
					height: 70px;
					display: flex;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					-ms-border-radius: 5px;
					-o-border-radius: 5px;
					border-radius: 5px;
				}
				
				.searchBox input {
					border-bottom-left-radius: 5px;
					border-top-left-radius: 5px;
					outline: none;
					height: 25px;
					width: 380px;
					border: 1px solid #ccc;
					padding-left: 35px;
					background: #eaeef0;
					color: #98a2b2;
				}
				
				.searchBox input::-webkit-input-placeholder {
					/* WebKit browsers */
					color: #98a2b2;
				}
				
				.searchBox input:-moz-placeholder {
					/* Mozilla Firefox 4 to 18 */
					color: #98a2b2;
				}
				
				.searchBox input::-moz-placeholder {
					/* Mozilla Firefox 19+ */
					color: #98a2b2;
				}
				
				.searchBox input:-ms-input-placeholder {
					/* Internet Explorer 10+ */
					color: #98a2b2;
				}
				
				.search_Btn {
					background: #5bbfd3;
					color: #fff;
					border-bottom-right-radius: 5px;
					outline: none;
					cursor: pointer;
					border: none;
					width: 80px;
					font-size: 13px;
					font-family: "微软雅黑";
					border-top-right-radius: 5px;
				}
				
				.icon {
					position: absolute;
					background: url(../img/search.png) no-repeat center center;
					background-size: 100%;
					height: 20px;
					width: 20px;
					left: 8px;
					top: 3px;
				}
				
				.searchBox {
					position: relative;
					flex: 1;
					display: flex;
					height: 27px;
					margin: 20px 0 20px 60px;
					border-radius: 5px;
				}
				
				.loginAndName {
					/*float: right;*/
					margin-left: 30%;
					flex: 0 0 200px;
					line-height: 20px;
					margin-top: 25px;
				}
				
				.loginAndName .userName {
					color: #949598!important;
				}
				
				.loginAndName .userName,
				.loginAndName .login {
					width: 80px;
					height: 20px;
					display: inline-block;
					border-left: 1px solid #ccc;
					text-align: center;
					cursor: pointer;
					font-size: 14px;
					color: #5bbfd3;
				}
				/*右侧头部结束*/
				/*内容区域开始*/
				
				.contentBox {
					display: flex;
					display: -webkit-flex;
				}
				
				.contentBox_right {
					height: 420px;
					background: #FFFFFF;
					margin: 0 10px 10px 0;
					flex: 0 0 400px;
				}
				
				.contentBox_left {
					flex: 1;
					height: 420px;
					background: #FFFFFF;
					margin: 0 10px 10px 0;
				}
				/*数据仪表盘开始*/
				
				.sjy_header {
					height: 10%;
					width: 90%;
					display: flex;
					margin: 0 auto;
					font-family: "微软雅黑";
					align-items: center;
					font-size: 16px;
					color: #333840;
					border-bottom: 1px solid #ccc;
				}
				
				.sjy_table {
					height: 100%;
				}
				
				.sjy_con {
					height: 90%;
					width: 90%;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;
				}
				
				.sjy_left,
				.sjy_right {
					height: 100%;
					flex: 0 0 48%;
				}
				
				.chart1,
				.chart2 {
					height: 73%;
					width: 100%;
				}
				
				.chart2_title,
				.chart1_title {
					font-size: 13px;
					color: #333840;
					font-family: "SourceHanSansCN Regular";
					margin: 15px auto;
				}
				
				.chart1_btn,
				.chart2_btn {
					display: inline-block;
					border: 1px solid #5bbfd3;
					height: 26px;
					line-height: 26px;
					width: 90px;
					font-size: 1rem;
					line-height: 26px;
					text-align: center;
					border-radius: 4px;
					background: #5abfd3;
					color: #fff;
					margin: 10px 0 20px 0;
				}
				
				.chart2_btn {
					width: 120px;
				}
				/*数据仪表盘结束*/
				
				.hzrl_title,
				.jrrw_title,
				.xttx_title {
					font-size: 16px;
					width: 90%;
					margin: 10px auto;
					padding-bottom: 10px;
					font-family: "微软雅黑";
					color: #333840;
					border-bottom: 1px solid #ccc;
				}
				
				.hzrl_list,
				.jrrw_list,
				.xttx_list {
					width: 100%;
					margin: 0 auto;
					list-style: none;
					vertical-align: middle;
				}
				
				.hzrl_list li,
				.jrrw_list li,
				.xttx_list li {
					list-style: none;
					overflow: hidden;
					line-height: 2;
					height: 50px;
					width: 90%;
					margin: 0 auto;
					border-bottom: 1px solid #ccc;
					padding: 0;
					list-style: none;
					vertical-align: middle;
					display: flex;
					display: -webkit-flex;
					justify-content: flex-start;
				}
				
				.xttx_list li {
					display: flex;
					display: -webkit-flex;
					align-items: center;
					height: 75px;
				}
				
				.hzrl_list_img,
				.jrrw_list_img,
				.xttx_list_img {
					background: url(../img/icon1.png) no-repeat center center;
					background-size: contain;
					height: 30px;
					width: 30px;
					float: left;
					margin: 8px 0 0 0;
				}
				
				.hzrl_list_con,
				.jrrw_list_con,
				.xttx_list_con {
					float: left;
					width: 60%;
					margin-left: 5%;
					font-size: 15px;
					line-height: 1.5!important;
				}
				
				.hzrl_list_con p,
				.jrrw_list_con p,
				.xttx_list_con p {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #333840;
						font-family: "SourceHanSansCN Regular";
						    margin-left: -10px;
					
				}
				.hzrl_list_con p:nth-child(1),
				.jrrw_list_con p:nth-child(1),
				.xttx_list_con p:nth-child(1)  {
					    color: #818a99;
				}
				.xttx_list_con p:nth-child(2){
				color: #818a99;
				}
				.xttx_list_con p:nth-child(2) .deldate {
					color: #ff5656;
				}
				
				.hzrl_list_btn {
					width: 60px!important;
				}
				
				.hzrl_list_btn,
				.jrrw_list_btn,
				.xttx_list_btn {
					display: inline-block;
					border: 1px solid #ccc;
					height: 26px;
					line-height: 26px;
					width: 80px;
					font-size: 1rem;
					line-height: 26px;
					margin-top: 10px;
					text-align: center;
					border-radius: 4px;
					color: #8bcddb;
					margin-left: 15px;
				}
				
				.xttx_list_btn {
					color: #ff5656;
				}
				

				
				.require_all {
					clear: both;
					width: 80px;
					height: 25px;
					line-height: 25px;
					border-radius: 4px;
					background: #5bbfd3;
					color: #fff;
					margin: 0 auto;
					text-align: center;
					margin-top: 15px;
				}
				/*内容区域结束*/
				/*患者认领弹框*/
				
				#rlhz {
					background: #f4f7f9;
				}
				
				.rlhz_pop {
					font-size: 15px;
					height: 25px;
					line-height: 25px;
					padding-left: 14px;
					margin: 0 8px 0 0;
					color: #50b5c9;
					border-left: 5px solid #50b5c9;
				}
				
				.layui-layer-title {
					text-align: center;
					font-size: 16px;
					padding-left: 13px;
				}
				
				.hz_info {
					width: 100%;
					overflow: hidden;
					clear: all;
				}
				
				.hz_infoItem {
					width: 50%;
					float: left;
					padding-left: 16px;
					box-sizing: border-box;
				}
				
				.hz_infoItem p,
				.des_info {
					margin: 7px;
					color: #a2a8b4;
					font-size: 15px;
				}
				
				.des_info {
					box-sizing: border-box;
					padding-left: 13px;
				}
				
				.hz_infoItem input,
				.hz_infoItem select {
					outline: none;
					border: none;
					background: #e9edf0;
					border-radius: 5px;
					height: 25px;
					width: 95%;
					color: #020202;
				}
				
				#des_info {
					width: 90%;
					margin: 0 auto;
				}
				
				.img_box {
					width: 90%;
				}
				
				.img_boxUl {
					list-style: none;
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					margin: 0 5%;
				}
				
				.img_boxLi {
					align-items: center;
					width: 85px;
					height: 85px;
					border-radius: 5px;
					margin-right: 3%;
				}
				
				.img_boxLi img {
					height: 85px;
					width: 85px;
				}
				
				.allInfo_wrap {
					margin: 0 auto;
					width: 90%;
					border-top: 1px solid #C2C2C2;
					position: relative;
					height: 80px;
				}
				
				.require_allInfo {
					clear: both;
					width: 80px;
					height: 30px;
					line-height: 30px;
					border-radius: 4px;
					background: #5bbfd3;
					color: #fff;
					text-align: center;
					position: absolute;
					right: 20px;
					bottom: 20px;
					border-bottom: 1px solid #CCCCCC;
				}
				
				.info_text {
					resize: none;
					width: 92%;
					box-sizing: border-box;
					height: 160px;
					margin: 0 4%;
				}
				/*患者认领弹框*/